[libdefaults]
    default_realm = LAB.MPGN.DEV
    kdc_timesync = 1
    ccache_type = 4 
    forwardable = true
    proxiable = true

[realms]
    LAB.MPGN.DEV = {
            kdc = ldap.lab.mpgn.dev
            admin_server = ldap.lab.mpgn.dev
    }

[domain_realm]
    lab.mpgn.dev = LAB.MPGN.DEV
    .lab.mpgn.dev = LAB.MPGN.DEV